@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo , h2{
    font-family: 'Grand Hotel', cursive;

}
.mycard{
    margin-top: 30px;
    
}

.auth-card{
    padding: 20px;
    max-width: 500px;
    margin: 10px auto;
    text-align: center;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;;
  }

